{% extends 'base.html' %}

{% block content %}

<div class="container py-3 my-3">
    {% if messages %}
        {% for message in messages %}
            <div class="{% if message.tags == 'error' %}bg-danger{% else %}bg-success {% endif %} text-white alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <h1>Evento: {{event.name}}</h1>
    <h2>Organizador: {{event.owner}}</h2>
    <h4>Lugar: {{event.location}}</h4>
    <h4>Máxima cantidad de invitados: {{event.max_guests}}</h4>
    <h4>Dia y hora del evento: {{event.date_event_start|date:"d/m/Y - H:i"}} hasta {{event.date_event_end|date:"d/m/Y - H:i"}}</h4>

    <h5>Link para compartir:
        <a href="javascript:getlink();"
            onclick="alert('URL copiada');"
            title="Click para copiar">https://organizat.herokuapp.com/event/{{event.event_link}}
        </a>
    </h5>

    <div class="container py-2 my-2">
        <div class="row">
            <div class="col-12 col-md-6">
                <leyend>Invitados</leyend>
                <table class="table table-striped table-hover">
                    {% if event.list_invitation %}
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th class="text-center">Estado de invitación</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for invitation in event.list_invitation %}
                            <tr>
                                <td>{{invitation.user.username}}</td>
                                {% if invitation.accepted_event %}
                                    {% if request.user.is_superuser or request.user.id == invitation.event.owner.id %}
                                    <td class="text-center">
                                        <a href="{% url 'invitation_down' invitation.id event.event_link %}">
                                            <i class="material-icons" style="font-size:20px;color:green">check_box</i>
                                        </a>
                                    </td>
                                    {% else %}
                                    <td class="text-center">
                                        <i class="material-icons" style="font-size:20px;color:green">check_box</i>
                                    </td>
                                    {% endif %}
                                {% else %}
                                    {% if request.user.is_superuser or request.user.id == invitation.event.owner.id %}
                                    <td class="text-center">
                                        <a href="{% url 'invitation_up' invitation.id event.event_link %}">
                                            <i class="material-icons" style="font-size:20px;color:red">indeterminate_check_box</i>
                                        </a>
                                    </td>
                                    {% else %}
                                    <td class="text-center">
                                        <i class="material-icons" style="font-size:20px;color:red">indeterminate_check_box</i>
                                    </td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% else %}
                        <thead>
                            <tr>
                                <th>Aun no hay invitados</th>
                            </tr>
                        </thead>
                    {% endif %}
                </table>
            </div>
            <div class="col-12 col-md-6">
                <leyend>Tareas (aún no)</leyend>
                <!--<table class="table table-striped table-hover">
                    {% if event.list_invitation %}
                        <thead>
                            <tr>
                                <th>Detalle</th>
                                <th class="text-center">Libre</th>
                                <th class="text-center">En desarrollo</th>
                                <th class="text-center">Listo</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for invitation in event.list_invitation %}
                            <tr>
                                <td>{{invitation.user.username}}</td>
                                {% if invitation.accepted_event %}
                                    <td class="text-center"><i class="material-icons" style="font-size:20px;color:green">check_box</i></td>
                                {% else %}
                                    <td class="text-center"><i class="material-icons" style="font-size:20px;color:red">indeterminate_check_box</i></td>
                                {% endif %}
                                {% if invitation.accepted_event %}
                                    <td class="text-center"><i class="material-icons" style="font-size:20px;color:green">check_box</i></td>
                                {% else %}
                                    <td class="text-center"><i class="material-icons" style="font-size:20px;color:red">indeterminate_check_box</i></td>
                                {% endif %}
                                {% if invitation.accepted_event %}
                                    <td class="text-center"><i class="material-icons" style="font-size:20px;color:green">check_box</i></td>
                                {% else %}
                                    <td class="text-center"><i class="material-icons" style="font-size:20px;color:red">indeterminate_check_box</i></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% else %}
                        <thead>
                            <tr>
                                <th>Aun no hay invitados</th>
                            </tr>
                        </thead>
                    {% endif %}
                </table>-->
            </div>
        </div>
    </div>

    {% if event.owner == request.user %}
    <a href="{% url 'delete_event' event.event_link %}"><button type="button" class="ml-3 btn btn-danger">Borrar evento</button></a>
    {% endif %}

    <a href="{% url 'home' %}">
       <button type="button" class="mx-3 btn btn-warning">Ir al inicio</button>
   </a>




</div>
<script>
    function getlink() {
        var aux = document.createElement("input");
        aux.setAttribute("value",window.location.href);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");
        document.body.removeChild(aux);
    }
</script>
{% endblock %}