<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <title>Ingresar al sitio</title>

</head>
<body>

    <div class="sidenav">
         <div class="login-main-text">
            <h1>Organizat</h1>
             <h3>Página de ingreso</h3>
             <div class="mt-3 pt-3">
                   <a href="{% url 'home' %}">
                       <button type="button" class="btn btn-warning">Atrás</button>
                   </a>
             </div>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form class="form" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                     <label style="color: black;">Usuario</label>
                     {{ form.username }}
                  </div>
                  <div class="form-group">
                     <label style="color: black;">Contraseña</label>
                     {{ form.password }}
                  </div>
                  <a href="{% url 'register' %}">
                     <button type="button" class="btn btn-secondary">Registrarse</button>
                  </a>
                  <button type="submit" class="btn btn-black float-right">Ingresar</button>
               </form>


               
            </div>
         </div>
      </div>
</body>
</html>